absl-py==1.0.0
aiofiles==0.7.0
anyio==3.3.1
asgiref==3.4.1
astunparse==1.6.3
atomicwrites==1.4.0
attacut==1.0.6
attrs==21.2.0
cachetools==4.2.4
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
coverage==5.5
deepcut==0.7.0.0
dill==0.3.4
docopt==0.6.2
emoji==1.6.1
execnet==1.9.0
fastapi==0.68.1
fire==0.4.0
flake8==3.9.2
flatbuffers==2.0
future==0.18.2
gast==0.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.41.1
h11==0.12.0
h5py==3.5.0
httpcore==0.13.7
httpx==0.19.0
idna==3.2
iniconfig==1.1.1
Jinja2==3.0.1
joblib==1.0.1
keras==2.7.0
Keras-Preprocessing==1.1.2
libclang==12.0.0
line-bot-sdk==1.20.0
Markdown==3.3.4
MarkupSafe==2.0.1
mccabe==0.6.1
mock==4.0.3
nptyping==1.4.4
numpy==1.21.2
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==21.0
pandas==1.3.4
pep8==1.7.1
pluggy==1.0.0
protobuf==3.19.1
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pydantic==1.8.2
pyflakes==2.3.1
pyparsing==2.4.7
pyreadline==2.1
pytest==6.2.5
pytest-cache==1.0
pytest-cov==2.12.1
pytest-flake8==1.0.7
pytest-pep8==1.0.6
pythainlp==2.3.2
python-crfsuite==0.9.7
python-dateutil==2.8.2
python-dotenv==0.19.0
pytz==2021.3
PyYAML==6.0
requests==2.26.0
requests-oauthlib==1.3.0
responses==0.14.0
rfc3986==1.5.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.7.1
six==1.16.0
sklearn==0.0
sniffio==1.2.0
ssg==0.0.8
starlette==0.14.2
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.22.0
termcolor==1.1.0
threadpoolctl==2.2.0
tinydb==4.5.2
toml==0.10.2
torch==1.10.0
tqdm==4.62.3
typing-extensions==3.10.0.2
typish==1.9.3
urllib3==1.26.7
uvicorn==0.15.0
Werkzeug==2.0.2
wrapt==1.13.3
